header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: black;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    border-bottom: 1px solid rgba(183, 75, 75, 0.2);
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 4px;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: white;
    transition: 0.3s;
}

.close-btn {
    display: none;
}

.hamburger:hover span {
    background-color: var(--primary-color);
}

.logo {
    font-size: 3rem;
    font-weight: 800;
    color: white;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
    color: #b74b4b;
}

nav a {
    font-size: 2rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    transition: color 0.4s ease, border-bottom 0.4s ease;
}

nav a:hover,
nav a.active {
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
}

@media (max-width: 995px) {
    .hamburger {
        display: flex;
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.9);
        backdrop-filter: blur(10px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        z-index: 999;
    }

    .close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
        font-size: 3rem;
        color: white;
        cursor: pointer;
        display: none;
        transition: 0.3s;
    }

    .close-btn:hover {
        color: var(--primary-color);
    }

    nav.active .close-btn {
        display: block;
    }

    nav.active {
        transform: translateX(0);
    }

    nav a {
        font-size: 2.5rem;
        margin: 2rem 0;
        color: white;
        text-align: center;
    }

    nav a:hover,
    nav a.active {
        color: var(--primary-color);
        border-bottom: none;
    }

    .hamburger.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
    }
}