.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
    padding-top: 15rem;
}

.home .home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span {
    color: var(--primary-color);
}

.home .home-content h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p {
    font-size: 1.8rem;
    margin: 1.5rem 0 1.5rem;
    line-height: 1.8;
    color: white;
}

.article {
    color: white;
}

.profession {
    color: var(--primary-color);
    position: relative;
}

.profession::after {
    content: '|';
    color: var(--primary-color);
    animation: cursor 0.6s infinite;
}

.home-img {
    border-radius: 50%;
}

.home-img img {
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 50px solid var(--primary-color);
    cursor: pointer;
    transition: 0.2s linear;
}

.home .home-img img:hover {
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid white;
    font-size: 2rem;
    border-radius: 50%;
    margin: 1.5rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: white;
}

.social-icons a:hover {
    color: white;
    transform: scale(1.3) translateY(-5px);
    box-shadow: 0 0 25px white
}

.btn {
    margin: 1rem 0;
    display: inline-block;
    padding: 1rem 3rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--primary-color);
    letter-spacing: 0.3rem;
    font-weight: 500;
    border: 2px solid var(--primary-color);
    transition: 0.3s ease;
}

.btn:hover {
    transform: scale3d(1.03);
    background-color: var(--primary-color);
    color: white;
}

.typing-text {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

@keyframes cursor {
    0%,
    50% {
        opacity: 1;
    }
    51%,
    100% {
        opacity: 0;
    }
}