/* Responsive adjustments */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}

@media (max-width: 1000px) {
    .home {
        gap: 4rem;
    }
}

@media (max-width: 995px) {
    .home {
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3 {
        font-size: 2.5rem;
    }

    .home .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }
}

@media (max-width: 768px) {
    .exp-number {
        font-size: 8rem;
    }

    .exp-text {
        font-size: 1.8rem;
    }
}

@media (max-width: 768px) {
    .grid-item h3 {
        font-size: 5rem;
    }

    .exp-content .box p span {
        font-size: 3rem;
    }
}